#whole #wrapper #left_side {
	width: 100%;
	float: left;
	height: 100px;
	border: 1px solid #aaa;
	background: #ccc;
}

#modnav {
	display: block;
	float: left;
	width: 100%;
	font-family: Georgia, "Times New Roman", serif !important;
	background: #959490; /* #cccffe; */
	margin-top: 1px;
}

#modnav li {
	float: left;
	width:24.5%;
	background: white;
	padding: 2px 0 0 0;
	font-family: Georgia, "Times New Roman", serif !important;
	background: #959490; /* #cccffe; */
	text-align:center;
}

#modnav li a:hover {
	background-color: black; /* rgb(30, 144, 255); */
	color: white;
}

#modnav li a:active {
	background-color: black; /* rgb(130, 144, 255); */
	color: white;
}

#modnav li a {
	width:100%;
	margin: 0px auto;
	color: white;
	/* #c7c5c0;;rgb(30, 144, 255);rgb(135, 206, 235); */
	text-decoration: none;
	text-align: center;
	font-family: Georgia, "Times New Roman", serif !important;
	font-size: 14px;
}

#wrapper #main_section #mainColumn {
	margin-top: 1px;
	overflow: hidden;
	float: left;
	font-size: 13px;
}

#moredetail {
	width: 520px;
	background-color: black;
	font-size: 12px;
	border: 1px solid brown;
	color: black;
}

#accountCol {
	width: 900px;
	height: 600px;
	background-color: white;
	clear: both;
}
.adminClass{
display:none;
}
.commonAccount{
width:29%;
}
.uploadAccount{
width:20%;}