#passChangecontainer {
	display: inline-block;
	clear: both;
	border: 1px solid #dfefff;
	background: #dfefff;
	font-size: 16px;
	width: 50%;
	padding: 10px;
	margin-left: 25%;
	margin-top: 2%;
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	font-family: Cambria, "Hoefler Text", Utopia, "Liberation Serif",
		"Nimbus Roman No9 L Regular", Times, "Times New Roman", serif
}

#passChangecontainer .hint {
	font-size: 14px;
	color: gray;
}

#passChangecontainer .headerEn,.headerAm {
	font-size: 18px;
	color: #0072C6;
}

.oldPwrdEn,.oldPwrdAm,.newPwrdEn,.newPwrdAm,.repeatPwrdEn,.repeatPwrdAm
	{
	font-size: 18px;
	margin-left:0px;
}

#passChangecontainer td {
	width: 45%;
	height: 30px;
	
}

#passChangecontainer .button {
	margin-top: 30px;
	text-align: center;
	margin-left: 0px;
	font-family: "Segoe UI Web Semibold", "Segoe UI Web Regular", "Segoe UI",
		"Helvetica Neue", Arial;
	font-size: 18px;
	height: auto;
	background-color: #0072C6;
	color: white;
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border: 1px #fff;
	color: #fff;
	cursor: pointer;
	width: 50%;
}

#passChangecontainer .button:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #378de5
		), color-stop(1, #79bbff));
	background: -moz-linear-gradient(center top, #378de5 5%, #79bbff 100%);
	background-color: #378de5;
	cursor: pointer;
}

#passChangecontainer input {
	padding: 5px;
	height: 20px;
	width: 80%;
}
#generalform .field {
	margin-bottom: 7px;
	width: 100%;
}
