#outerLogin {
	width: 100%;
	clear: both;
	padding: 20px;
}

#innerLogin {
	display: inline-block;
	width: 50%;
	margin-left:25%;
    text-align: center;
	clear: both;
	border: 1px solid #dfefff;
	background: #dfefff;
	font-size: 20px;
	padding: 10px;
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
}
#innerLogin #login-box{
width:100%;
}

#login-box table {
	padding: 10px;
	color: black;
	width:100%;
}

#login-box table td {
	padding: 5px;
	
	text-align: right;
	vertical-align: top;
	font-size: 16px;
}

#login-box table input {
	padding: 5px;
	float: left;
	height: 30px;
}

#username,#password {
	padding: 5px;
	float: left;
	width: 70%;
	font-size: 18px;
	font-family: "Segoe UI Web Semibold", "Segoe UI Web Regular", "Segoe UI",
		"Helvetica Neue", Arial;
}

.logInEmail,.logInPassword {
	width: 30%;
}

.logInHeader{
	text-align: left;
	font-family: "Segoe UI Web Semibold", "Segoe UI Web Regular", "Segoe UI",
		"Helvetica Neue", Arial;
	color: #444444;
	float: left;
}

.logInHeaderEn,.logInHeaderAm {
    text-align: left;
    font-size: 22px;
	color: #0072C6;
}

.inputButton {
 margin-left:25%;
}

input:focus {
	color: blue;
}

#errorDisplay {
	clear: both;
	width: 100%;
	color: red;
	margin-top: 20px;
	font-size: 15px;
}

#login-box .button {
	margin-bottom: 0px;
	text-align: center;
	font-family: "Segoe UI Web Semibold", "Segoe UI Web Regular", "Segoe UI",
	"Helvetica Neue", Arial;
	font-size: 18px;
	height: 10%;
	background-color: #0072C6;
	color: white;
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border: 1px #fff;
	color: #fff;
	cursor: pointer;
}

#login-box .button:hover {
	ackground: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #378de5
		), color-stop(1, #79bbff));
	background: -moz-linear-gradient(center top, #378de5 5%, #79bbff 100%);
	background-color: #378de5;
	cursor: pointer;
}

#left_side {
	width: 490px;
	margin-top: 10px;
	margin-right: 10px;
	float: left;
}
