# Empty CSS file for your own CSS

.logo{
    float: left;
}

.nav{
    float: right;
}

.clear{
    float : none;
}

#main-header{
    width: 100%;
    height: 60px;
    padding: 10px;
    margin-bottom: 5px;
    background-color: azure;
    border-bottom: solid 1px lightseagreen;

}

.list-group{    width: 15%;
    float: left;
}

.item-dd , .city-dd{
    float: left;
}

.main-section{
    width: 70%;
    float: left;
    background-color: white;
    padding: 2px;
}

.header1-text{
    font-size: 25px;
} 

.header2-text{
    font-size: 20px;
}

#footer-div{
    width: 100%;
    height: auto;
    border-top: solid 1px lightseagreen;
}

.footer{
    float: left;
    border-style: none;
    background-color: azure;
}

.card{
    border:none;
}

.footer-sections{
    background-color: azure;
    
}

.footer-img{
    background-color: azure;
}